<div class="comment-container">
  <div class="comment">
    <div class="row">
      <div class="col-lg-10">
        <span class="author">
          <%= link_to comment.user_name, comment.user %>
        </span>
      </div>
      <% if user_signed_in? && current_user.owns_comment?(comment) %>
        <div class="col-lg-2">
          <%= link_to t('btn.delete'), [post, comment], class: 'btn btn-xs btn-danger delete', method: :delete, confirm: t('general.delete_confirmation') %>
        </div>
      <% end %>
    </div>
    <p class="body">
      <%= comment.body %>
    </p>
  </div>
</div>
