<h1>いわーく勉強会SNS</h1>
<p>勉強会のお知らせや、オンラインでの交流を行います。</p>

<hr>
<h2>ユーザー登録</h2>
<div class="col-md-8">
  <%= image_tag("study3.jpg") %>
</div>
<div class="col-md-4">
  <%= render 'users/form', user: @new_user %>
</div>
