<div class="post-container">
  <div class="post">
    <div class="row">
      <span class="author">
        <%= link_to post.author_name, post.author %>
      </span>
    </div>

    <div class="row">
      <div class="col-lg-11 col-md-11">
        <p class="content">
          <%= post.body %>
        </p>
      </div>

      <% if user_signed_in? && current_user.owns_post?(post) %>
        <div class="col-lg-1 col-md-1">
          <div class="delete">
            <%= link_to t('btn.delete'), post, method: 'delete',
              confirm: t('posts.delete_confirmation') %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row info">
      <span class="date">
        <%= t 'time.before', time: time_ago_in_words(post.created_at) %>
      </span>
    </div>
  </div>
</div>
