$border-color: #dddddd;

.post-form {
  textarea {
    resize: vertical;
  }
}

.posts {
  margin-top: 20px;
  .post-container {
    padding: 20px 0;
    border-top: 1px $border-color solid;

    &:last-child {
      border-bottom: 1px $border-color solid;
    }
    .post {
      width: 90%;
      margin: auto;

      .date {
        font-size: 9pt;
        color: #aaaaaa;
      }

      .delete {
        display: none;
      }
    }
    &:hover {
      .delete {
        display: block;
      }
    }
  }
}
